.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding:20px;
    width:100%;
}

#password{
    width: 100%;
}

#slider{
    width: 100%;
}

body {
    background-color: rgb(235, 233, 233);
}

header{
    padding: 20px;
}

h1{

}

h2{

}

textarea {

}

#password {

}

#generate {
    background-color: darkred;
    color: lightgrey;
}

#copy {
    background-color: darkred;
    color: lightgrey;
}