.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding:20px;
    width:100%;
    border-radius: 2px;
}

#password{
    width: 100%;
}

#slider{
    width: 100%;
}

body {
    background-color:#F6F8FA;
}

header{
    padding: 20px;
    text-align: center;
}

textarea {
border-radius: 2px;
}

#password {

}

#generate {
    background-color: #AF0808;
    color: #F9FBFD;
    border-radius: 20px;
    padding: 7px;
}

#copy {
    background-color: #C0C7CF;
    color: #F9FBFD;
    float: right;
    border-radius: 20px;
    padding: 7px;
}